header{
    background-color:lightpink;
    color: #FF5561;
    font-size:40px;
}

.advertencia{
    color:red;
}

.rosita{
    background-color:#FF5561;
    color: white;
    font-size:15px;
}

.image-upload > input
{
    display: none;
}

.imagen {
    width: 20px;
}

.image-upload img
{
    width: 30px;
    cursor: pointer;
}

.pass
{
    width: 30px;
}